{% extends '/user/base.html' %}
{% block head %}
    <title>News Feed</title>
{% endblock %}

{%block body%}
<div>
    <div class="container feed" style="width:80%;">
        <div class="card" ">
            <div class="card-top">
                <div>
                    <img class="title-icon" src="https://i.ytimg.com/vi/8AFQxR2d1Uw/maxresdefault.jpg" alt="icon">
                    
                </div>
                <div class="post-name">
                    <h4>Devarajan</h4>

                </div>

            </div>
            <div class="card-head">
                <div >
                    <img class="card-img" src="https://play-lh.googleusercontent.com/FCzgw2YD80puDhwEAOsjYCZcbetxOu5CRx7VzEVJ0z1C_FjyHqOefGqkrijyLD_cHbx1" alt="image">

                </div>
                <div class="img-description">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <h6>Description</h6>
                    <p>
                        Today was one of the best days of my life. Back to my own college after 4 years after graduation, lots of memories and emotions. Thank you so much to the Computer Science Department,Mangalam college of Engineering for inviting Myself and Manu Sajeevan to conduct the Alumni interaction session with the new batch of 2022. Thank you so much, everyone, for being such a wonderful audience that participated enthusiastically throughout our session and kept the entire duration interactive.



                    </p>

                </div>

            </div>

            <div class="card-body nav justify-content-end">
              
              <a href="" class="btn btn-primary  ">connect</a>
            </div>
          </div>
    </div>
</div>


{% endblock %}  